.Body {
  position: absolute;
  margin-left: 20%;
  width: 80%;
  height: 100%;
  background-color: #CCC;
}

.ExpandingImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Image-Container {
  width:300px;
  height:600px;
  background: salmon;
}