.Sidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #23F;
  color: white;
  padding: 0;
  margin: 0;
}


.Sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #aaa;
}

.Sidebar li a {
    display: block;
    color: #000;
    padding: 2em 1em;
    text-decoration: none;
}

/* Change the link color on hover */
.Sidebar li a:hover {
    background-color: #555;
    color: white;
}